# Postgres
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ai-studio
DB_URL=postgresql://postgres:password@postgres:5432/ai-studio
DB_LOGGING=true

NODE_ENV=development

# Minio
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_SSL=false 
MINIO_ACCESSKEY=minioadmin
MINIO_SECRETKEY=minioadmin
MINI_PRESIGNED_URL_EXPIRE_TIME=3600
MINIO_FILE_UPLOAD_SIZE=20000000 #20mb
MINIO_MAX_SIMULTANEOUS_FILE_UPLOAD=10
FAL_KEY=your-fal-key


# Frontend URL for CORS
CORS_ORIGIN=http://localhost:3000

# Video-Worker
VIDEO_WORKER_URL=http://video-worker:3002

# BCRYPT
BCRYPT_SALT_ROUNDS=10


